/* Flexbox, sizing, margins and paddings. */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.7em;
}

header,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2%;
}

main {
  align-self: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 5vw;
  padding: 5vw;
  width: 80vw;
  height: auto;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 5%;
}

button {
  height: 20vw;
  width: 20%;
}
