/* Font insertion. Karla. FIX. GOOGLE SUBFOLDER TO SUBFOLDER REFERENCE*/
@font-face  {
  font-family: 'karla';
  src: url(../fonts/Karla-Regular.woff);
  font-style: normal;
  font-weight: 100;
}
@font-face  {
  font-family: 'karla';
  src: url(../fonts/Karla-Regular.woff2);
  font-style: normal;
  font-weight: 100;
}

p {
  font-family: 'karla';
  font-weight: 100;
}
