@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla.woff') format('woff'),
    url('../fonts/Karla.woff2') format('woff2');
}

body {
  font-family: 'Karla';
}

p {
  font-family: 'Karla';
  font-weight: 100;
}
