/* Media queries. Break points. */

/* Smartphones. */
@media screen and (max-width: 560px) {
  p {
    font-size: 0.65rem;
  }
}

/* Tablets. */
@media screen and (min-width: 560px) {
  p {
    font-size: 1rem;
  }
}

/* Desktops and larger screens. */
@media screen and (min-width: 1024px) {
  p {
    font-size: 1.6rem;
  }
}
