/* Media queries. Break points. */

/* Smartphones. */
@media screen and (max-width: 560px) {
  div#gifContainer {
    width: 90%;
    height: 100%;
  }
}

/* Tablets. */
@media screen and (min-width: 560px) {
  img {
    width: 50%;
  }
}

/* Desktops and larger screens. */
@media screen and (min-width: 1024px) {
  img {
    width: 50%;
  }
}
