/* CSS variable colorations etc. */

:root {
  --bgColor: teal;
  --borderColor: hotpink;
  --headerColor: mediumpurple;
  --textColors: white;
  --mainColor: mediumaquamarine;
  --buttonColor: coral;
}

* {
  color: var(--textColors);
}

header,
footer {
  text-shadow: 0.3rem 0.4rem 0.5rem #000000;
}

body {
  background-image: url('../media/zebra.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-color: var(--bgColor);
}

header,
footer {
  background-color: var(--headerColor);
  /* Sparkles in banner. */
  background-image: url('../media/sparkles.gif');
  background-repeat: repeat;
  background-size: auto;
  border-color: var(--borderColor);
  border-style: ridge;
  border-width: 0.9pc;
}

.headergifs {
  width: 5vw;
  height: 5vh;
}

main {
  background-color: var(--mainColor);
  background-image: linear-gradient(rgb(87, 165, 142), rgb(92, 46, 255));
  border-radius: 30% 30%;
  border: 1rem outset rgb(203, 167, 23);
  box-shadow: 1vw 1vw 3vw 2vw rgb(16, 16, 16);
}

div#gifContainer {
  align-self: center;
  border-radius: 30% 30%;
  border: 1rem inset rgb(203, 167, 23);
  overflow: hidden;
  justify-content: center;
  display: flex;
  width: auto;
  margin: 5%;
}

div#gifContent img {
  width: 100%;
}

button {
  background-color: var(--buttonColor);
  border-radius: 50% 50%;
  border: 0.6rem solid #ffc8c8;
  box-shadow: 1vw 1vw 3vw 2vw rgb(16, 16, 16);
  color: white;
}
