/* CSS variable colorations and hero image. */

:root {
  --bgColor: teal;
  --borderColor: hotpink;
  --headerColor: mediumpurple;
  --headingColors: white;
  --mainColor: rgb(213, 233, 43);
  --buttonColor: coral;
}

h1,
h2,
h3,
h4,
p {
  color: var(--headingColors);
  text-shadow: 0.3rem 0.4rem 0.5rem #000000;
}

body {
  background-image: url('../media/zebra.jpg');
  background-repeat: no-repeat;
  background-color: var(--bgColor);
}

header,
footer {
  background-color: var(--headerColor);
  border-style: ridge;
  border-width: 0.9pc;
  border-color: var(--borderColor);
  color: white;
}

main {
  background-color: var(--mainColor);
  background-image: linear-gradient(rgb(191, 255, 162), rgb(217, 255, 79));
  border-radius: 30% 30%;
  border: 1rem outset #c3d901;
  box-shadow: 1vw 1vw 3vw 2vw rgb(16, 16, 16);
}

div {
  background-image: url('../media/kingen.gif');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30% 30%;
  border: 1rem inset #c3d901;
  display: flex;
  height: 50vh;
  justify-content: center;
  width: 100%;
}

button {
  background-color: var(--buttonColor);
  border-radius: 50% 50%;
  border: 1rem double #3351ff;
  box-shadow: 1vw 1vw 3vw 2vw rgb(16, 16, 16);
  color: white;
  font-family: 'Comic Sans';
}

footer {
  background-color: var(--headerColor);
}
