/* CSS variables colors + fonts. */
:root {
  --bgColor: teal;
  --headerColor: indigo;
  --headingColors: white;
  --mainColor: hotpink;
  --sectionColor: aquamarine;
}

/*Background image or colors?*/
* {
}

header {
  padding-top: 5px;
  text-align: center;
  width: 100vw;
  height: 15vw;
  background-color: var(--headerColor);
  color: var(--headingColors);
}

main {
  width: 100vw;
  height: 50vw;
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.talkBubble {
  display: flex;
  align-self: center;
  max-width: 30%;
  max-height: fit-content;
}

/* The E.I. */

.EI {
  display: flex;
  align-self: center;
  max-width: 30%;
  max-height: fit-content;
}

/* Button area. */

button {
  height: 10vh;
  width: 20vw;
  border-radius: 25% 20% 25% 20%;
  box-shadow: 0px 5px 10px 5px grey;
}

footer {
  background-color: cornflowerblue;
  display: flex;
  width: 100vw;
  height: 4vw;
  justify-content: center;
}
